input {
    width: 300px;
    height: 100px;
    background-color: rebeccapurple;
    font-size: 30px;
    border-color: rebeccapurple;
    cursor: pointer;
    color: #fff;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#area {
    width: 600px;
    height: 300px;
    border: 3px solid;
    border-color: rebeccapurple;
    background-color: beige;
    font-size: 20px;
    color: rebeccapurple;
    text-align: center;
    left: 50%;
    transform: translateX(75%);
    margin-top: 10px;
}