#gallery {
    width: 100%;
}

figure {
    width: 33.33%;
    float: left;
}

@media (min-width: 768px) and (max-width: 992px) {


    figure {
        width: 50%;
        float: left;
    }
}

@media (max-width: 768px) {


    figure {
        width: 100%;

    }
}

img[alt="image 1"]:hover {

    transform: rotate(360deg);
    transition: transform 5s ease-in;
}

img[alt="image 2"]:hover {
    
    transform: scale(2);
    transition: transform 5s linear;
}

img[alt="image 3"]:hover {
    
    transform: translate(-200px, 100px);
    transition: transform 5s ease-in;
}

@keyframes resize {
0%, 100% {
width: 100%;
}
50% {
width: 10%;
}
}
img[alt="image 1"]:hover {
animation-name: resize;
animation-duration: 2s;
animation-iteration-count: infinite;
}

@keyframes dupa {
0%, 100% {
width: 100%;
}
50% {
width: 75%;
}
}
img[alt="image 2"]:hover {
animation-name: dupa;
animation-duration: 2s;
animation-timing-function: ease;
animation-iteration-count: infinite;
}

@keyframes lalka {
0%, 100% {
width: 100%;
}
50% {
width: 10%;
}
}
img[alt="image 4"]:hover {
animation-name: lalka;
animation-duration: 2s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
}

