$color-body: #291f1a;
$color-green: #1ac056;
$color-form: #2b4a64;
$color-focus: #4e708c;
$color-back-form-contact: #213b50;
$color-back-skills-about: #f9fcfe;
$font-roboto: 'Roboto',
sans-serif;
$font-lato: 'Lato',
sans-serif;
