body {
    box-sizing: border-box;
    background-color: #fff;
    color: black;
    margin: 0;
    font-family: "Old Standard TT", sans-serif;
    padding: 0;
    overflow-x: hidden;
}

span {
    font-family: "Great Vibes", sans-serif;
}

.menu {
    width: 100%;
    height: 20px;
    padding: 0;

}

.menu ul {
    text-align: center;
    padding-left: 0;
}

.menu ul li {
    display: inline-block;
    padding: 50px;

}

.menu ul li a:link {
    text-decoration: none;
    color: black;
}

.main-photo {

    background-image: url(../assets/herobanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    top: 0;

}

.big-header {
    font-size: 100px;
    font-weight: 400;
    width: 100%;
    transform: translateY(100%);
    text-align: center;
}

.small-header {

    font-size: 30px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    transform: translateY(-250%);
    text-decoration: overline;
}

h1 {
    font-size: 50px;
    margin-left: 50px;
    margin-top: 50px;
}

.text {
    display: inline-block;
    width: 50%;
    float: left;
}

table tr td {
    height: 50px;
    width: 50px;
    border-collapse: collapse;
    border-bottom: 1px solid darkgrey;
    padding: 5px;
}
table tr td p {
    font-weight: 700;
}

#offer,
#about {

    padding: 75px;
    width: 100%;
    overflow: hidden;
}

.offer-photo {
    margin-left: 150px;
}

#about {
    background-image: url(../assets/about-bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    height: 700px;
}

#contact {
    display: inline-block;
    width: 100%;
    height: 600px;
    margin-left: 50px;

}

#contact .form {
    width: 50%;
    float: left;

}

#formularz {
    background-color: #fff;
    color: black;
    padding: 20px;
}

form label {
    display: block;
}

input,
textarea {
    background-color: white;
    border: none;
    outline: none;
}

textarea,
input[type="text"],
input[type="email"] {
    width: 50%;
    background-color: #fff;
    color: black;
    border-bottom: 2px solid lightgrey;
    height: 50px;
    width: 500px;
    margin-left: 50px;

}

textarea {
    height: 150px;
    margin-top: 25px;
}

form button[type="submit"] {
    background-color: lightgray;
    color: black;
    text-transform: uppercase;
    padding: 5px 20px;
    font-weight: normal;
    cursor: pointer;
    width: 500px;
    height: 50px;
    margin-left: 50px;
    margin-top: 25px;
}

.img-add {
    text-align: center;
    display: inline-block;
    width: 50%;
    float: left;
    transform: translateY(-25%);

}

img {
    border-radius: 50%;
    margin: 25px;

}

address {
    font-size: 15px;
    text-align: center;
    margin-bottom: 50px;
}

.footer {
    background-color: darkgrey;
    height: 20px;
    width: 100%;
    margin-top: 80px;
    text-align: center;

}

